$black: #232323;
$blue: #086CA2;
$orange: #FF8B00;
$white: #FDFDFD;
$grey: rgb(150,150,150);

.full-width {
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}

body {
  font-size: 14px;
  line-height: 1.428;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $black;
}

body > section {
  min-height: 100%;
  padding: 62px 0 0 0;
  box-sizing: border-box;
}

body > section:first-child {
  position: relative;
}

section.about {
//  background-color: $blue;
}

section.projects {
 // background-color: $orange;
}

section.contact {
 // background-color: #FFF;
}

.nav > div {
  display: inline-block;
  padding: 10px;
  font-size: 16px;

  a {
    display: block;
    color: #000;
    text-decoration: none;
  }

  a:hover {
    color: $orange;
  }
}

.fixed {
  position: fixed;
}

.skills {
  font-size: 100px;
}

.sticky-nav {
  top: 0;
  left: 0;
  text-align: right;
  z-index: 100;
  background-color: transparentize($white, 0.2);

  .name {
    color: $black;
    font-size: 30px;
    padding: 10px 0 0 0;
  }

  .item {
    font-weight: bold;
    color: $grey;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .item.active {
    color: $blue;
  }

  .divider {
    color: $grey;
    font-size: 20px;
    position: relative;
    top: 3px;
  }

  .item:hover {
    color: $orange;
  }
}

.site-label {
  position: absolute;
  bottom: 0;
  right: 0;
  color: $grey;
}

.social {
  z-index: 10;
  bottom: 0;
  right: 0;
  color: $grey;
  background-color: transparentize($white, 0.2);

  > div {
    display: inline-block;
    padding: 10px;
    font-size: 24px;
  }

  > div:hover {
    color: $blue;
  }
}

.table {
  display: table;

  .table-row {
    display: table-row;

    .table-cell {
      display: table-cell;
    }
  }
}

.table-cell.center {
  vertical-align: middle;
  text-align: center;
}

.name {
  color: $black;
  font-size: 80px;
}

.content {
  height: 100%;
}

.clear {
  clear: both;
}

.pull-left {
  float: left;
}

.hero {
  font-size: 42px;
  padding: 15px;
  background-color: #FFF;
  line-height: 1;
}

.container-width {
  width: 960px; 
  margin: 0 auto;
  position: relative;
}

.pointer {
  cursor: pointer;
}

.vertical-align-middle {
  vertical-align: middle;
}

.me {
  box-sizing: border-box;
  padding: 50px;

  img {
    border-radius: 1000px;
  }
}

.bg-light {
  background-color: lighten($grey, 25%);
}

.hero-padding {
  padding: 50px;
}

@media (min-width: 992px) {
  .hero-padding {
    padding-left: 0;
  }
}
