$black: black;
$blue: #086CA2;
$orange: #FF8B00;

.navigation {
  background-color: black;
  width: 100%;
  padding: 5px;

  .nav-item {
    float:right;
    color: white;
    padding: 10px 20px;
  }
}

.content {
  padding: 20px;  
}

.my-name {
  font-size: 24px;
}

.clear {
  clear: both;
}


