$black: #232323;
$blue: #086CA2;
$orange: #FF8B00;

.full-width {
  width: 100%;
}

.inline-block {
  display: inline-block;
}

body > section {
  min-height: 100%;
}

body > section:first-child {
  position: relative;
  z-index: 20;
  background-color: #FFF;
}

section.about {
  background-color: $blue;
}

section.projects {
  background-color: $orange;
}

section.resume {
  background-color: #FFF;
}

.nav > div {
  display: inline-block;
  padding: 10px;

  a {
    display: block;
    color: #000;
    text-decoration: none;
  }

  a:hover {
    color: $orange;
  }
}

.fixed {
  position: fixed;
}

.sticky-nav {
  top: 0;
  left: 0;
  background-color: #000;

  > div {
    color: white;
    padding: 15px;
  }

  > .projects.active {
    background-color: $orange;
  }

  > .about.active {
    background-color: $blue;
  }

  > .resume.active {
    background-color: #FFF;
    color: #000;
  }
}

.social {
  z-index: 10;
  bottom: 0;
  right: 0;
  background-color: blue;
  height: 50px;
  width: 300px;
}

.table {
  display: table;

  .table-row {
    display: table-row;

    .table-cell {
      display: table-cell;
    }
  }
}

.table-cell.center {
  vertical-align: middle;
  text-align: center;
}

.name {
  font-size: 80px;
  font-family: 'Finger Paint', cursive;
}

.content {
  height: 100%;
}

.clear {
  clear: both;
}
